<div class="download-buttons-wrapper">
  <button class="button ios-download-btn">
    Download for iOS
  </button>
  <button class="button mac-download-btn">
    Download for Mac
  </button>
</div>

<style>
  .download-buttons-wrapper {
    display: flex;
    gap: .8rem;
  }

  .ios-download-btn {
    background-color: var(--s-cyan);
    box-shadow: 0px 5px 10px hsla(171, 66%, 44%, .4);
    border-bottom: 4px solid #309983
  }

  .mac-download-btn {
    background-color: var(--l-blue);
    box-shadow: 0px 5px 10px hsla(233, 100%, 69%, .4);
    border-bottom: 4px solid #5162DC
  }

  @media (width <= 578px) {
    .download-buttons-wrapper {
      flex-direction: column;
      width: 100%;
    }
  }
</style>
