<section class="supercharge wrapper">
  <article class="supercharge-article">
    <h2>Supercharge your workflow</h2>
    <p>We’ve got the tools to boost your productivity.</p>
  </article>
  <ul class="supercharge-list">
    <li>
      <picture class="supercharge-list-picture">
        <img src="/icon-blacklist.svg" alt="Paper">
      </picture>
      <h3>Create blacklists</h3>
      <p>
        Ensure sensitive information never makes its way to your clipboard by excluding certain sources.
      </p>
    </li>
    <li>
      <picture class="supercharge-list-picture">
        <img src="/icon-text.svg" alt="Character A with a select text cursor">
      </picture>
      <h3>Plain text snippets</h3>
      <p>
        Remove unwanted formatting from copied text for a consistent look.
      </p>
    </li>
    <li>
      <picture class="supercharge-list-picture">
        <img src="/icon-preview.svg" alt="Eye">
      </picture>
      <h3>Sneak preview</h3>
      <p>
        Quick preview of all snippets on your Clipboard for easy access.
      </p>
    </li>
  </ul>
</section>

<style>
  .supercharge {
    margin-top: 2rem;
    margin-bottom: 6rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
  }

  .supercharge-article {
    margin-bottom: 4rem;
  }

  .supercharge-article h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .supercharge-list {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 3rem;
    width: 100%;
  }

  .supercharge-list li {
    max-width: 30ch;
  }

  .supercharge-list p {
    font-size: .9rem
  }

  .supercharge-list-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin-inline: auto;
  }

  .supercharge-list li img {
    margin-inline: auto;
    margin-bottom: 2rem
  }

  .supercharge-list li h3 {
    margin-bottom: 1rem;
  }

  @media (width <= 768px) {
    .supercharge-list {
      flex-direction: column;
    }

    .supercharge-list li {
      margin-inline: auto;
    }
  }
</style>
